@model Agri_Energy_Connect_POE.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product To Your Profile</h2>

<div class="row">
    <div class="col-md-9">
        <form asp-action="AddProduct" asp-controller="Products" enctype="multipart/form-data" method="post">
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label">Product Category</label>
                <input asp-for="ProductCategory" class="form-control" />
                <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionDate" class="control-label">Production Date</label>
                <input asp-for="ProductionDate" class="form-control" />
                <span asp-validation-for="ProductionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">Product Description</label>
                <textarea asp-for="ProductDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">Production Price</label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Add Product" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FarmerProduct" class="btn btn-secondary">Return to profile</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}