@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 align="Center" style="color: seagreen">To The Agri-Energy Connect Platform!</h2>
    <h3 align="Center">This is where farmers will be able to add products to their profiles which can then be viewed by employees </h3>
    <p>      </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>
    <p>       </p>
    <h4 align="Center" style="color: seagreen">Want to add a product?</h4>
    <h5 align="Center">Head on over to 'Your Products' by clicking on its name above!</h5>
    <p>       </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>
